anyascii==0.3.2 ; python_version >= "3.10" and python_version < "4.0"
asgiref==3.8.1 ; python_version >= "3.10" and python_version < "4.0"
beautifulsoup4==4.13.4 ; python_version >= "3.10" and python_version < "4.0"
certifi==2025.6.15 ; python_version >= "3.10" and python_version < "4.0"
charset-normalizer==3.4.2 ; python_version >= "3.10" and python_version < "4.0"
defusedxml==0.7.1 ; python_version >= "3.10" and python_version < "4.0"
django-filter==25.1 ; python_version >= "3.10" and python_version < "4.0"
django-modelcluster==6.4 ; python_version >= "3.10" and python_version < "4.0"
django-permissionedforms==0.1 ; python_version >= "3.10" and python_version < "4.0"
django-stubs-ext==5.2.1 ; python_version >= "3.10" and python_version < "4.0"
django-taggit==6.1.0 ; python_version >= "3.10" and python_version < "4.0"
django-tasks==0.7.0 ; python_version >= "3.10" and python_version < "4.0"
django-treebeard==4.7.1 ; python_version >= "3.10" and python_version < "4.0"
django==5.2.3 ; python_version >= "3.10" and python_version < "4.0"
djangorestframework==3.16.0 ; python_version >= "3.10" and python_version < "4.0"
draftjs-exporter==5.1.0 ; python_version >= "3.10" and python_version < "4.0"
et-xmlfile==2.0.0 ; python_version >= "3.10" and python_version < "4.0"
filetype==1.2.0 ; python_version >= "3.10" and python_version < "4.0"
idna==3.10 ; python_version >= "3.10" and python_version < "4.0"
laces==0.1.2 ; python_version >= "3.10" and python_version < "4.0"
openpyxl==3.1.5 ; python_version >= "3.10" and python_version < "4.0"
pillow-heif==0.21.0 ; python_version >= "3.10" and python_version < "4.0"
pillow==11.2.1 ; python_version < "4.0" and python_version >= "3.10"
requests==2.32.4 ; python_version >= "3.10" and python_version < "4.0"
soupsieve==2.7 ; python_version >= "3.10" and python_version < "4.0"
sqlparse==0.5.3 ; python_version >= "3.10" and python_version < "4.0"
telepath==0.3.1 ; python_version >= "3.10" and python_version < "4.0"
typing-extensions==4.14.0 ; python_version >= "3.10" and python_version < "4.0"
tzdata==2025.2 ; python_version >= "3.10" and python_version < "4.0" and sys_platform == "win32"
urllib3==2.5.0 ; python_version >= "3.10" and python_version < "4.0"
wagtail==7.0.1 ; python_version >= "3.10" and python_version < "4.0"
willow[heif]==1.10.0 ; python_version >= "3.10" and python_version < "4.0"
