<footer class="footer">
	<div class="container container--footer container--medium">
		<a href="/" aria-current="page" class="brand w-inline-block w--current"><img src="/static/assets/660eb6abe8cde3bea6a9c111/660fd4294dec140f700b07e4_freezpack-logo.svg" loading="lazy" width="207" height="32" alt="FreezPak Home" class="brand__img"/></a>
		<div class="footer__menu">
				<a href="/about" class="footer__link footer__link--main title-2">About us</a>
				<a href="/contact" class="footer__link footer__link--main title-2">Contact</a>
			</div>
		<nav aria-label="secondary" class="footer__navigation">
			<div class="footer__menu"><p class="title-2">Our Services</p>
				<div class="w-dyn-list">
					<div role="list" class="footer__list w-dyn-items">
						<div role="listitem" class="w-dyn-item">
							<a href="/services/cold-storage" class="footer__link title-3">Cold Storage</a>
						</div>
						<div role="listitem" class="w-dyn-item">
							<a href="/services/crossdocking" class="footer__link title-3">Crossdocking</a>
						</div>
						<div role="listitem" class="w-dyn-item">
							<a href="/services/container-unloading" class="footer__link title-3">Container Unloading</a>
						</div>
						<div role="listitem" class="w-dyn-item">
							<a href="/services/transportation" class="footer__link title-3">Transportation</a>
						</div>
						<div role="listitem" class="w-dyn-item">
							<a href="/services/inspections" class="footer__link title-3">Inspections</a>
						</div>
						<div role="listitem" class="w-dyn-item">
							<a href="/services/repacking" class="footer__link title-3">Repacking</a>
						</div>
						<div role="listitem" class="w-dyn-item">
							<a href="/services/ecommerce" class="footer__link title-3">Ecommerce</a>
						</div>
						<div role="listitem" class="w-dyn-item">
							<a href="/services/blast-freezing" class="footer__link title-3">Blast Freezing</a>
						</div>
						<div role="listitem" class="w-dyn-item">
							<a href="/services/customs-bonded" class="footer__link title-3">Customs Bonded</a>
						</div>
						<div role="listitem" class="w-dyn-item">
							<a href="/services/trichinosis" class="footer__link title-3">Trichinosis</a>
						</div>
					</div>
				</div>
			</div>
		</nav>
		<div class="footer__navbar"><p class="body-2">2025 © Copyrights to Freezpak Logistics.
			<a href="/terms-conditions" class="text-link text-link--inverse">Terms &amp; Conditions</a> |
			<a href="/privacy-policy" class="text-link text-link--inverse">Privacy Policy</a>
		</p></div>
	</div>
</footer>