<footer class="footer">
		<div class="container container--footer container--medium">
			<a class="brand w-inline-block" href="/"><img alt="FreezPak Home" class="brand__img" height="32" loading="lazy" src="/static/assets/660eb6abe8cde3bea6a9c111/660fd4294dec140f700b07e4_freezpack-logo.svg" width="207"/></a>
			<nav aria-label="secondary" class="footer__navigation">
				<div class="footer__menu"><p class="title-2">Our Services</p>
					<div class="w-dyn-list">
						<div class="footer__list w-dyn-items" role="list">
							<div class="w-dyn-item" role="listitem">
								<a class="footer__link title-3" href="/services/transportation">Transportation</a>
							</div>
							<div class="w-dyn-item" role="listitem">
								<a class="footer__link title-3" href="/services/reefer">Reefer</a>
							</div>
							<div class="w-dyn-item" role="listitem">
								<a class="footer__link title-3" href="/services/flatbed">Flatbed</a>
							</div>
							<div class="w-dyn-item" role="listitem">
								<a class="footer__link title-3" href="/services/stepdeck">Stepdeck</a>
							</div>
							<div class="w-dyn-item" role="listitem">
								<a class="footer__link title-3" href="/services/removable-gooseneck">Removable Gooseneck</a>
							</div>
						</div>
					</div>
				</div>
				<div class="footer__menu">
					<a class="footer__link footer__link--main title-2" href="/about">About us</a>
					<a class="footer__link footer__link--main title-2" href="/contact">Contact</a>
				</div>
			</nav>
			<div class="footer__navbar"><p class="body-2">2025 Â© Copyrights to Load Liner Logistics.
				<a class="text-link text-link--inverse" href="/terms-conditions">TermsÂ &amp;Â Conditions</a> |
				<a class="text-link text-link--inverse" href="/privacy-policy">Privacy Policy</a>
			</p></div>
		</div>
	</footer>